// colors
$color-violet: #582E91;
$color-pink: #E23694;
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-grey: rgba(240, 240, 240, 0.5);
$color-red: #FF0000;

// fonts
$font-futuristic: 'Audiowide', cursive;
$font-normal: 'Roboto', sans-serif;
