//fonts
@import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto:300,400,500,700&subset=latin-ext');

@import 'variables';
@import 'icons';
@import 'mixins';

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
}
